body {
   background-image:url('../img/background.png');
}

a {
    transition: 1s ease-in-out;
    color:yellow;
    text-decoration:none;
}

 a:hover {
    color: #817130;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.border-solid img {
    border:4px solid black;
}

.bg-lighter{
    background-color: #ffcc00;
}

.bg-darker{
    background-color:  #cfa600;
}

.borderRadius{
    border-radius: 80px;
}

.borderRadiusSmall{
    border-radius: 20px;
}

section li{
    list-style-image: url("../img/lemon_face.png");
}

